@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font: 400 1em Ubuntu, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}
